html
    {
      min-height: 100%;
      position: relative;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    }

    #landing
    {
      height: 810px;
      max-width: 100%;
      background: #024794;
      /* Lighter Michigan Blue: #0d57aa;
         Michigan Blue: #00274c;
         Bright Blue: #3333cc;
         Lilac: #895683;
/*      background-image: url("../images/google-earth-river.jpg"); */
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    @media (min-width: 768px) {
      /* Media query for desktop-enable scrolling background*/
        #landing
        {    
          background-attachment: fixed;
        }
    }

    #about
    {
      background-color: lightsteelblue;
      text-align: center;
      color: #000000;
      padding-top: 5%;
      padding-bottom: 5%;
    }
    #projects
    {
      background-color: #A1BFD9;
      text-align: left;
      color: #000000;
      padding-top: 5%;
      overflow: auto; 
      padding-bottom: 5%;
    }
    #contact
    {
      height: 650px;
      background-color: lightsteelblue;
      text-align: center;
      color: #000000;
      padding-top: 5%;
      padding-bottom: 5%
    }
    .img-circle
    {
      height: 140px;
      border:3px solid Gainsboro; /*Border around picture*/
    }
    .img-project
    {
      border:3px solid Gainsboro; /*Project picture outlines*/
    }
    .section-header
    {
      color: #fff;
      text-shadow: 0 1px 3px rgba(0,0,0,.5);
      text-align: center;
    }
    #footer
    {
      color: #000000;
      padding-top: 1%;
      padding-bottom: 1%;
      background-color: #A1BFD9;
    }

canvas{
  display:block;
  vertical-align:bottom;
}